<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>SomaServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm </welcome-file>	
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>		
	</welcome-file-list>
	
	<servlet>
		<servlet-name>com_servlet_SomaServlet</servlet-name>
		<servlet-class>com.servlet.SomaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com_servlet_SomaServlet</servlet-name>
		<url-pattern>/SomaServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>com_servlet_SomaCardapioServlet</servlet-name>
		<servlet-class>com.servlet.SomaCardapioServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com_servlet_SomaCardapioServlet</servlet-name>
		<url-pattern>/SomaCardapioServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>com_servlet_TabuadaUser</servlet-name>
		<servlet-class>com.servlet.TabuadaUser</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com_servlet_TabuadaUser</servlet-name>
		<url-pattern>/TabuadaUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>com_servlet_TabuadaTotal</servlet-name>
		<servlet-class>com.servlet.TabuadaTotal</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com_servlet_TabuadaTotal</servlet-name>
		<url-pattern>/TabuadaTotal</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>com_servlet_Headers</servlet-name>
		<servlet-class>com.servlet.Headers</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com_servlet_Headers</servlet-name>
		<url-pattern>/Headers</url-pattern>
	</servlet-mapping>
</web-app>